/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                    bindings = <
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  ;  | MINUS |
// |  TAB |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  P  | ENTER   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | ALT | CTRL |   | !!!! | SPACE | !!! |

   &kp ESC   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp SEMI  &kp MINUS
   &kp TAB   &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp P     &kp ENTER
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
            &kp LALT  &kp LCTRL  &kp LSHFT   &kp SPACE &kp SPACE &kp RALT
                        >;
                };

                layer_1 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  7      |  8      |  9      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  4      |  5      |  6      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  1      |  2      |  3      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
//                             | GUI      | LWR      | SPC      |   | ENT      | RSE      | ALT      |
                                &kp LGUI   &trans     &kp SPACE      &kp RE  T  &trans     &kp RALT

                        >;
                };

                layer_2 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  7      |  8      |  9      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  4      |  5      |  6      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  1      |  2      |  3      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
//                             | GUI      | LWR      | SPC      |   | ENT      | RSE      | ALT      |
                                &kp LGUI   &trans     &kp SPACE      &kp RE  T  &trans     &kp RALT
                        >;
                };

                layer_3 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  7      |  8      |  9      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  4      |  5      |  6      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  1      |  2      |  3      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
//                             | GUI      | LWR      | SPC      |   | ENT      | RSE      | ALT      |
                                &kp LGUI   &trans     &kp SPACE      &kp RE  T  &trans     &kp RALT
                        >;
                };

                layer_4 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  7      |  8      |  9      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  4      |  5      |  6      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  1      |  2      |  3      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
//                             | GUI      | LWR      | SPC      |   | ENT      | RSE      | ALT      |
                                &kp LGUI   &trans     &kp SPACE      &kp RE  T  &trans     &kp RALT
                        >;
                };

                layer_5 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  7      |  8      |  9      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  4      |  5      |  6      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  1      |  2      |  3      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
//                             | GUI      | LWR      | SPC      |   | ENT      | RSE      | ALT      |
                                &kp LGUI   &trans     &kp SPACE      &kp RE  T  &trans     &kp RALT
                        >;
                };

                layer_6 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  7      |  8      |  9      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  4      |  5      |  6      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  1      |  2      |  3      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
//                             | GUI      | LWR      | SPC      |   | ENT      | RSE      | ALT      |
                                &kp LGUI   &trans     &kp SPACE      &kp RE  T  &trans     &kp RALT
                        >;
                };

                layer_7 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  7      |  8      |  9      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  4      |  5      |  6      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  1      |  2      |  3      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
//                             | GUI      | LWR      | SPC      |   | ENT      | RSE      | ALT      |
                                &kp LGUI   &trans     &kp SPACE      &kp RE  T  &trans     &kp RALT
                        >;
                };

                layer_8 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  7      |  8      |  9      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  4      |  5      |  6      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  1      |  2      |  3      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
//                             | GUI      | LWR      | SPC      |   | ENT      | RSE      | ALT      |
                                &kp LGUI   &trans     &kp SPACE      &kp RE  T  &trans     &kp RALT
                        >;
                };

                layer_9 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  7      |  8      |  9      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  4      |  5      |  6      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  1      |  2      |  3      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
//                             | GUI      | LWR      | SPC      |   | ENT      | RSE      | ALT      |
                                &kp LGUI   &trans     &kp SPACE      &kp RE  T  &trans     &kp RALT
                        >;
                };

                layer_10 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  7      |  8      |  9      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  4      |  5      |  6      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  6      |  1      |  2      |  3      |  0      |  BKSP    |
     &kp TAB    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp
//                             | GUI      | LWR      | SPC      |   | ENT      | RSE      | ALT      |
                                &kp LGUI   &trans     &kp SPACE      &kp RE  T  &trans     &kp RALT
                        >;
                };





        };
};
