/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                    bindings = <
// -----------------------------------------------------------------------------------------
// |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  ;  | MINUS |
// |  TAB |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  P  | ENTER   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | ALT | CTRL |   | !!!! | SPACE | !!! |

   &kp ESC   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp SEMI  &kp MINUS
   &kp TAB   &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp P     &kp ENTER
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
            &kp LALT  &kp LCTRL  &kp LSHFT   &kp SPACE &kp SPACE &kp RALT
                        >;
                };

                layer_1 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  ,      |  7      |  8      |  9      |  ESC    |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &kp COMMA &kp 7     &kp 8    &kp 9      &kp ESC    &trans
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  .      |  4      |  5      |  6      |  +      |  ENTER    |
     &trans    &trans     &trans    &trans    &trans    &trans        &kp PERIOD &kp 4    &kp 5    &kp 6    &kp PLUS    &kp ENTER
// |  TAB     |  1      |  2      |  3      |  4      |  5      |   |  -      |  1      |  2      |  3      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &kp 1    &kp 2    &kp 3    &kp MINUS    &trans
//                             | GUI      | LWR      | SPC      |   | ENT      | RSE      | ALT      |
                                &trans     &trans     &trans         &trans     &trans     &trans

                        >;
                };


                layer_2 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
//                             | -        | -        | -        |   | -        | -        | -        |
                                &trans     &trans     &trans         &trans     &trans     &trans
                        >;
                };

                layer_3 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
//                             | -        | -        | -        |   | -        | -        | -        |
                                &trans     &trans     &trans         &trans     &trans     &trans
                        >;
                };

                layer_4 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
//                             | -        | -        | -        |   | -        | -        | -        |
                                &trans     &trans     &trans         &trans     &trans     &trans
                        >;
                };

                layer_5 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
//                             | -        | -        | -        |   | -        | -        | -        |
                                &trans     &trans     &trans         &trans     &trans     &trans
                        >;
                };

                layer_6 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
//                             | -        | -        | -        |   | -        | -        | -        |
                                &trans     &trans     &trans         &trans     &trans     &trans
                        >;
                };

                layer_7 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
//                             | -        | -        | -        |   | -        | -        | -        |
                                &trans     &trans     &trans         &trans     &trans     &trans
                        >;
                };

                layer_8 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
//                             | -        | -        | -        |   | -        | -        | -        |
                                &trans     &trans     &trans         &trans     &trans     &trans
                        >;
                };

                layer_9 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
//                             | -        | -        | -        |   | -        | -        | -        |
                                &trans     &trans     &trans         &trans     &trans     &trans
                        >;
                };

                layer_10 {
                    bindings = <
// -----------------------------------------------------------------------------------------
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
// | -       |  -       |  -      |  -      |  -      |  -      |   |  -      |  -      |  -      |  -      |  -      |  -        |
     &trans    &trans     &trans    &trans    &trans    &trans        &trans    &trans    &trans    &trans    &trans    &trans
//                             | -        | -        | -        |   | -        | -        | -        |
                                &trans     &trans     &trans         &trans     &trans     &trans
                        >;
                };





        };
};
